<!DOCTYPE html>
<html>
<head>
  <title>index3</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css"> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='bolt.ico') }}">
</head>
<body>
      <!-- I AM A WEB MASTER -->
      <!-- {{name2}}\'s Web Page {{id2}} ! -->
      <!-- <img alt="Unknown Animal" src="data:image/png" filename="static/Unknown_animal.jpg"> -->
      <!-- <link rel="image" type="image" href="static/Unknown_animal.jpg"> -->
      <!-- <a href="https://www.qries.com/"> -->
      <img alt="Hammerhead Bat" src="static/Unknown_animal.jpg">
      <img alt="Fiat 850 Sport Coupe" src="static/Unknown_Car.jpg">
         <!-- width=150" height="70"> -->
      <!-- </a> -->
      <script src="static/script.js" type="text/javascript"></script>
</body>
</html>

