<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <!-- <link rel="stylesheet" type=“text/css” href="style.css">  -->
  <link rel="stylesheet" type="text/css" href="static/styles.css"> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='Robot.ico') }}">
  <!-- <link rel="shortcut icon" type="icon" href="bolt.ico"> -->
  <!-- <link rel="shortcut icon" href="/static/bolt.ico"> -->
</head>
<body>
      <!-- I AM A WEB MASTER -->
      {{name}}'s Web Page !
      <script src="static/script.js" type="text/javascript"></script>
</body>
</html>

